<div class="navbar navbar-default">
  
  <div class="container">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <a class="navbar-brand" href="#">Flasher</a>
  </div>
</div>

<div class = "container">

  <div class="form-group">
    <input class="form-control" (keyup)="onKey($event)"/>
    <br/>
    
    <div class="form-inline">

      <div class="form-group">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Delay
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#" (click)="setDelay(100)">100ms</a></li>
            <li><a href="#" (click)="setDelay(200)">200ms</a></li>
            <li><a href="#" (click)="setDelay(300)">300ms</a></li>
            <li><a href="#" (click)="setDelay(500)">500ms</a></li>
            <li><a href="#" (click)="setDelay(1000)">1000ms</a></li>
          </ul>
        </div>
      </div>

      <div class="form-group">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Text Color
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#" (click)="randomTextColor = true">Random</a></li>
            <li><a href="#" (click)="textColor = 'red'">Red</a></li>
            <li><a href="#" (click)="textColor = 'green'">Green</a></li>
            <li><a href="#" (click)="textColor = 'blue'">Blue</a></li>
            <li><a href="#" (click)="textColor = 'white'">White</a></li>
            <li><a href="#" (click)="textColor = 'black'">Black</a></li>
          </ul>
        </div>
      </div>

      <div class="form-group">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Background Color
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#" (click)="randomBgColor = true">Random</a></li>
            <li><a href="#" (click)="bgColor = 'red'">Red</a></li>
            <li><a href="#" (click)="bgColor = 'green'">Green</a></li>
            <li><a href="#" (click)="bgColor = 'blue'">Blue</a></li>
            <li><a href="#" (click)="bgColor = 'white'">White</a></li>
            <li><a href="#" (click)="bgColor = 'black'">Black</a></li>
          </ul>
        </div>
      </div>

      </div>

    
  </div>
</div>

<br/><br/>

<div class="container" >
  <div class = "jumbotron text-center" [style.background-color]="getBgColor()">
    <h1 [style.color]="getTextColor()" style="background: transparent" >{{flash}}</h1>
  </div>
</div>

